caiman==1.11.3
cupy_cuda11x==13.4.0
h5py==3.9.0
holoviews==1.20.2
ijroi==0.4.0
ipython==8.27.0
ipywidgets==8.1.5
matplotlib==3.10.1
MedPy==0.5.2
networkx==3.3
numpy==2.2.4
opencv_python==4.11.0.86
pandas==2.2.3
panel==1.6.2
param==2.2.0
POT==0.9.5
psutil==6.0.0
PyYAML==6.0.2
PyYAML==6.0.2
read_roi==1.6.0
roifile==2024.9.15
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
skimage==0.0
tifffile==2023.8.12
tqdm==4.66.5
xarray==2025.1.1
